<?xml version="1.0" encoding="utf-8"?>
<appdynamics-agent xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <controller host="se-demo-west.demo.appdynamics.com" port="8090" ssl="false" enable_config_deployment="false">
    <application name="EDF" />
    <account name="customer1" password="68e1e626-2bcc-491d-b888-b8688aee29ec" />
  </controller>
  <machine-agent />
  <app-agents azure="true" azure-role-name="" azure-role-instance-id="">
    <IIS>
      <automatic />
    </IIS>
    <standalone-applications>
      <standalone-application executable="WaWorkerHost.exe">
        <tier name="" />
      </standalone-application>
    </standalone-applications>
  </app-agents>
</appdynamics-agent>